<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<%= number_to_phone "09081428568" %>
<%= number_to_currency "090" %>
<%= number_to_percentage "090" %>
<%= number_with_delimiter "090000445" %>