<h1 class="text-danger">Hi, <%= current_user.first_name %></h1>
<p>Find me in app/views/pages/home.html.erb</p>

<hr>

<%= content_tag :p, class: "my-special-class" do %>
Hi, I'm in a paragraph tag! 
<% end %>